/*
    note: this ux was previously meticulously designed. In here, containers are set relative
    to each other, considering their heights in px. This means that sometimes the margin of 
    a container will be the height of
 */

@media only screen and (max-width: 390px) {
  body {
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;

    font-family: "Product Sans", Arial, sans-serif;
    /*to review*/
    margin: 0;
    padding: 0;
  }

  #screen1_container, #screen2_container, #screen3_container {
    position: absolute;
    border: 0px solid grey;
    top: 0px; 
    left: 0px;
    right: 0px;
    bottom: 0px;
    touch-action: manipulation;
  }

  #screen2_container{
    display:none;
  }

  #gm_header_container {
    position: absolute;
    width: 100%;
    height: 58.5px;
    background-color: transparent /*#D9D9D9*/;
  }

  #gm_search_bar_container {
    position: absolute;
    margin-top: 58.5px;
    width: 100%;
    height: 50px;
    background-color: transparent /*#DC5858*/;
  }

  #gm_category_container {
    position: absolute;
    margin-top: calc(58.5px + 50px);
    width: 100%;
    height: 50px;
    top: 10px;
    background-color: transparent;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
    z-index: 1;
  }

  #gm_category_container::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for WebKit-based browsers */
  }

  #gm_map_controls_container_sc1 {
    position: absolute;
    margin-top: calc(58.5px + 50px + 50px + 10px);
    width: 100%;
    height: 582px;
    background-color: transparent /*#000000*/;
    border: 0px solid black;
  }

  #gm_map_options_sc1 {
    position: absolute;
    right: 3px;
  }

  #gm_top_controls_container {
    position: absolute;
    margin-top: 0px;
    width: 100%;
    height: 50px;
    background-color: transparent /*#2DE5AB*/;
    z-index: 1;
  } /*should be on top of map*/

  #gm_bottom_controls_container1 {
    position:absolute; /* This may confuse you. We've added so we could see the arrow controls vertically and set to the right hand side together. The most important thing is for tou to set them there. It won't affect other things apart from these two components.*/
    margin-top:-140px;
    height: 60px; /*Components are simply aligned in relation to this, change value to see*/
    width: 70px;
    right: 0px;
    flex-direction: column;
    background-color: transparent  /*#fDE5AB*/;
    z-index: 5;
  } /*should be on top of map*/
  
  #gm_bottom_controls_container2 {
    position:absolute; /* This may confuse you. We've added so we could see the arrow controls vertically and set to the right hand side together. The most important thing is for tou to set them there. It won't affect other things apart from these two components.*/
    margin-top:-70px;
    height: 60px; /*Components are simply aligned in relation to this, change value to see*/
    width: 70px;
    right: 0px;
    flex-direction: column;
    background-color: transparent  /*#2DE5AB*/;
    z-index:5;
  } /*should be on top of map*/
 

  #gm_drawer_container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 225px;
    background-color: white /*#2DE5AB*/;
    z-index: 1;
    border-radius: 5px;
    cursor: move;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.2)
  }

  #gm_image_2_sc1 {
    max-width: 100%;
    height: auto;
  }

  #gm_menu_container {
    position: absolute;
    //bottom: 37px;
    bottom: -6px;   
    width: 100%;
    height: 50px;
    background-color: white /*#7BB446*/;
    z-index: 1;
    border-top: -5px solid #95989b;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.2)
  }

  #gm_footer_container {
    position: absolute;
    //bottom: 0px;    
    bottom: -40px;
    width: 100%;
    height: 37px;
    background-color: white /*#EBDFB7*/;
    z-index: 2;
    
  }

  #gm_map_container_sc1 {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
    -moz-user-select: auto;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    -o-user-select: auto;
    z-index: 1;
    //background-color: black;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
